/* VARIABLES */
:root {
  --bg: #ece9e0;
  --primary: #424242;
  --visited: #949494;
}
/* ./VARIABLES */

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Consolas, Monaco, "Courier New", monospace;
  color: var(--primary);
  background-color: var(--bg);
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.hidden {
  display: none;
}
/* ./GLOBAL STYLES */

/* GRID DEFINITION */
.container {
  display: grid;
  height: 100vh;
  grid-gap: .5rem;
  grid-template-columns: 100%;
  grid-template-rows: 67px 1fr;
  grid-template-areas:
    "header"
    "story-list";
}
/*
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header"
      "story-list story-list"
      "content content"
    ;
  }
}
*/
.container .header {
  grid-area: header;
}

.container .story-list {
  grid-area: story-list;
}
/* ./GRID DEFINITION */

.container {
  padding: .2rem;
}
.container > * {
  padding: .2rem .5rem;
  border: .5rem solid var(--primary);
  border-radius: 1px;
}
.container .header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--primary);
  color: var(--bg);
  font-weight: bold;
}
.container .header a {
  color: var(--bg);
  padding-left: .5rem;
  padding-right: .5rem;
  cursor: pointer;
}
.container .header a:first-child {
  border-right: 2px solid var(--bg);
}
.container .header a:last-child {
  border-left: 2px solid var(--bg);
}
.container .header a:nth-child(2) {
  margin-left: -2px;
  margin-right: -2px;
}
.container .header a.active {
  border-bottom: 2px solid var(--bg);
}
.container .header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .story-list {
  min-height: 500px;
  overflow: scroll;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.container .story-list .sort-by {
  padding-top: 0;
  height: 2.5rem;
  background-color: var(--primary);
}
.container .story-list .sort-by > button {
  border: 1px solid var(--primary);
  background-color: var(--visited);
  border-radius: 0;
  width: 33.33333333%;
  height: 2rem;
  cursor: pointer;
}
.container .story-list .sort-by > button:first-child {
  border-left: none;
}
.container .story-list .sort-by > button:last-child {
  border-right-width: 2px;
}
.container .story-list .sort-by > button > div {
  width: 100%;
  height: 100%;
  border-bottom: 0.8rem solid var(--visited);
}
.container .story-list .sort-by > button.active > div {
  border-bottom-color: var(--primary);
}
.container .story-list .sort-by > button.active.ascending > div {
  border-bottom-style: dashed;
}

.container .story-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container .story-list ul li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
}
.container .story-list ul li.active {
  font-weight: bold;
  background: var(--primary);
  color: var(--bg);
}
.container .story-list ul li.visited .title {
  color: var(--visited);
}
.container .story-list ul li.active a {
  color: var(--bg);
}

.container .story-list ul li:hover .title {
  font-weight: bold;
}

.wrapper .content {
  position: absolute;
  top: 83px;
  background: white;
  padding: 1rem;
  margin: 0.2rem;
  box-shadow: 0px 0px 10px grey;
  width: calc(100% - .4rem);
}
.wrapper .content .close-line{
  position: absolute;
  top: -13px;
  text-align: center;
  width: 100%;
}
.wrapper .content pre {
  overflow: scroll;
}

.container .content .comments-listing .by {
  color: var(--visited);
}
.container .content .comments-listing .text {
  font-size: .9rem;
}

