* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Consolas, Monaco, "Courier New", monospace;
  color: #424242;
}

/* GRID DEFINITION */
.container {
  padding: .2rem;
  display: grid;
  height: 100vh;
  grid-gap: .5rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  /* */
  grid-template-areas:
    "header header"
    "posts-list content";
  /**/
}
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header"
      "posts-list posts-list"
      "content content"
    ;
  }
}
.container .header {
  grid-area: header;
}

.container .posts-list {
  grid-area: posts-list;
}
.container .content {
  grid-area: content;
}
/* GRID DEFINITION */

.container {
  padding: .2rem;
}
.container > * {
  padding: .2rem .5rem;
  border: .5rem solid #424242;
  border-radius: 1px;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #424242;
  color: #fff;
  font-weight: bold;
}

.container .posts-list {

}
.container .content {

}